@import "colors";
@import "fonts";


body {
  font: normal normal 500 100% $font-stack ;
  color: $background;
  padding: 0;
  margin: 0;
  background-color: $background;
  overflow-x: hidden;
  color: white;
}

/* Components style */
.btn-primary {
  color: $on-primary;
  background-color: $primary;
  text-decoration: none;
  padding: 8px 24px 8px 24px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-line-clamp: 1;

  &:disabled {
    background-color: $primary-disabled;
    color: $on-primary-disabled;

    &:hover {
      background-color: $primary-disabled;
      color: $on-primary-disabled;
      cursor: not-allowed;
    }
  }
}

.grid-container {
  display: grid;
  column-gap: 16px;
  row-gap: 0;
  padding-left: 3%;
  padding-right: 3%;
  grid-template-columns: repeat(12, 1fr);
}

.flex-container {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-transform: uppercase;
}

p {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}

.hidden {
  display: none;
}

button,
input[type=submit] {
  border: none;
  font: normal normal 500 100% $font-stack ;
  cursor: pointer;
}

.card {
  background-color: $surface;
  border-radius: 16px;
  box-shadow: 0px 5px 10px 5px rgba($color: black, $alpha: 0.5);
}

input,
textarea,
select {
  font: normal normal 400 0.8rem $font-stack ;
  color: $on-background;
  padding: 8px 16px 8px 16px;
  background-color: transparent;
  border: 2px solid rgba($color: white, $alpha: 0.25);
  border-radius: 4px;
  box-shadow: none;

  option {
    color: black;
  }

}


a,
a:visited {
  color: white;
}